form {
	display: flex;
	justify-content: space-between;
	height: 8vh;
}

input {
	flex-grow: 1;
	font-size: 1.5rem;
}

button {
	font-size: 1.5rem;
}

body {
	text-align: center;
}

.wrapper {
	display: inline-block;
	margin-top: 10%;
	background-color: grey;
	padding: 5%;
}

.bigText {
	font-size: 1.5rem;
}